<!-- Place <div> tag where you want the feed to appear -->
    <div>

        tag where you want the feed to appear -->
       <div id="curator-feed-default-layout"><a class="crt-logo crt-tag" href="https://curator.io" target="_blank" rel="noopener">Powered by Curator.io</a></div>
       <!-- The Javascript can be moved to the end of the html page before the </body> tag -->
       <script type="text/javascript">
       /* curator-feed-default-layout */
       (function(){
       var i, e, d = document, s = "script";i = d.createElement("script");i.async = 1;
       i.src = "https://cdn.curator.io/published/08d1d7aa-df30-46ce-b139-4eeb88c03d86.js";
       e = d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
       })();
       </script>